@if $tabs--enable {
  /**
   * Tabs-nav
   */

  $tabsnav--selector: selector(new 'tabs-nav' with $collapses--syntax);

  @include statement($tabsnav--selector, (
    ('padding', if($tabsnavs--padding, $tabsnavs--padding, 0)),
    ('margin', if($tabsnavs--margin, $tabsnavs--margin, 0)),
    ('list-style', none),
    ('display', flex),
    ('font-size', $tabsnavs--font-size),
    ('font-family', $tabsnavs--font-family),
    ('font-weight', $tabsnavs--font-weight),
    ('text-transform', $tabsnavs--text-transform),
    ('letter-spacing', $tabsnavs--letter-spacing),
    ('line-height', $tabsnavs--line-height),
    ('text-align', $tabsnavs--text-align),
    ('text-decoration', $tabsnavs--text-decoration),
    ('border-width', $tabsnavs--border-width),
    ('border-style', $tabsnavs--border-style),
    ('border-color', $tabsnavs--border-color),
    ('border-radius', $tabsnavs--border-radius),
    ('color', $tabsnavs--color),
    ('box-shadow', $tabsnavs--box-shadow),
    ('background', $tabsnavs--background),
    ('background-color', $tabsnavs--background-color),
  ));


  $tabsnav-item--selector: selector(set $tabsnav--selector element 'item');
  $tabsnav-item-nextto-item--selector: selector(append $tabsnav-item--selector parent $tabsnav-item--selector as '+');

  @include statement($tabsnav-item-nextto-item--selector, (
    ('margin-left',  $tabsnavs-item--gutter),
  ));


  $tabsnav-anchor--selector: selector(set $tabsnav--selector element 'anchor');

  @include statement($tabsnav-anchor--selector, (
    ('cursor', pointer),
    ('cursor', default, '~active'),
    ('display', block),
    ('font-size', $tabsnavs-anchor--font-size),
    ('font-family', $tabsnavs-anchor--font-family),
    ('font-weight', $tabsnavs-anchor--font-weight),
    ('text-transform', $tabsnavs-anchor--text-transform),
    ('letter-spacing', $tabsnavs-anchor--letter-spacing),
    ('line-height', $tabsnavs-anchor--line-height),
    ('text-align', $tabsnavs-anchor--text-align),
    ('text-decoration', $tabsnavs-anchor--text-decoration),
    ('margin', $tabsnavs-anchor--margin),
    ('border-width', $tabsnavs-anchor--border-width),
    ('border-style', $tabsnavs-anchor--border-style),
    ('border-color', $tabsnavs-anchor--border-color),
    ('border-radius', $tabsnavs-anchor--border-radius),
    ('color', $tabsnavs-anchor--color),
    ('box-shadow', $tabsnavs-anchor--box-shadow),
    ('background', $tabsnavs-anchor--background),
    ('background-color', $tabsnavs-anchor--background-color),
    ('padding', $tabsnavs-anchor--padding),
  ));


  /**
   * Tabs-collapse
   */

  $tabscollapses--selector: selector(new 'tabs-collapses' with $collapses--syntax);

  @include statement($tabscollapses--selector, (
    ('font-size', $tabscollapses--font-size),
    ('font-family', $tabscollapses--font-family),
    ('font-weight', $tabscollapses--font-weight),
    ('text-transform', $tabscollapses--text-transform),
    ('letter-spacing', $tabscollapses--letter-spacing),
    ('line-height', $tabscollapses--line-height),
    ('text-align', $tabscollapses--text-align),
    ('text-decoration', $tabscollapses--text-decoration),
    ('margin', $tabscollapses--margin),
    ('border-width', $tabscollapses--border-width),
    ('border-style', $tabscollapses--border-style),
    ('border-color', $tabscollapses--border-color),
    ('border-radius', $tabscollapses--border-radius),
    ('color', $tabscollapses--color),
    ('box-shadow', $tabscollapses--box-shadow),
    ('background', $tabscollapses--background),
    ('background-color', $tabscollapses--background-color),
    ('padding', $tabscollapses--padding),
  ));
}
