$collapses--font-size: null !default;
$collapses--font-family: null !default;
$collapses--font-weight: null !default;
$collapses--text-transform: null !default;
$collapses--letter-spacing: null !default;
$collapses--line-height: null !default;
$collapses--text-align: null !default;
$collapses--text-decoration: null !default;

$collapses--margin: null !default;

$collapses--border-width: null !default;
$collapses--border-style: null !default;
$collapses--border-color: null !default;
$collapses--border-radius: null !default;

$collapses--color: null !default;
$collapses--box-shadow: null !default;
$collapses--background: null !default;
$collapses--background-color: null !default;
