@if $accordions--enabled {
  /**
   * accordion
   */

  $accordion--selector: selector(new 'accordion' with $accordions--syntax);

  @include statement($accordion--selector, (
    ('font-size', $accordions--font-size),
    ('font-family', $accordions--font-family),
    ('font-weight', $accordions--font-weight),
    ('text-transform', $accordions--text-transform),
    ('letter-spacing', $accordions--letter-spacing),
    ('line-height', $accordions--line-height),
    ('text-align', $accordions--text-align),
    ('text-decoration', $accordions--text-decoration),
    ('margin', $accordions--margin),
    ('border-width', $accordions--border-width),
    ('border-style', $accordions--border-style),
    ('border-color', $accordions--border-color),
    ('border-radius', $accordions--border-radius),
    ('color', $accordions--color),
    ('box-shadow', $accordions--box-shadow),
    ('background', $accordions--background),
    ('background-color', $accordions--background-color),
    ('padding-top', $accordions--padding-y),
    ('padding-bottom', $accordions--padding-y),
    ('padding-left', $accordions--padding-x),
    ('padding-right', $accordions--padding-x),
    ('overflow', hidden),
  ));


  $accordion-trigger--selector: selector(set $accordion--selector element 'trigger');

  @include statement($accordion-trigger--selector, (
    ('display', block),
    ('cursor', pointer),
    ('font-size', $accordions-anchor--font-size),
    ('font-family', $accordions-anchor--font-family),
    ('font-weight', $accordions-anchor--font-weight),
    ('text-transform', $accordions-anchor--text-transform),
    ('letter-spacing', $accordions-anchor--letter-spacing),
    ('line-height', $accordions-anchor--line-height),
    ('text-align', $accordions-anchor--text-align),
    ('text-decoration', $accordions-anchor--text-decoration),
    ('margin', $accordions-anchor--margin),
    ('border-width', $accordions-anchor--border-width),
    ('border-style', $accordions-anchor--border-style),
    ('border-color', $accordions-anchor--border-color),
    ('border-radius', $accordions-anchor--border-radius),
    ('color', $accordions-anchor--color),
    ('box-shadow', $accordions-anchor--box-shadow),
    ('background', $accordions-anchor--background),
    ('background-color', $accordions-anchor--background-color),
    ('padding-top', $accordions-anchor--padding-y),
    ('padding-bottom', $accordions-anchor--padding-y),
    ('padding-left', $accordions-anchor--padding-x),
    ('padding-right', $accordions-anchor--padding-x),
  ));


  $accordion-collapse--selector: selector(set $accordion--selector element 'collapse');

  @include statement($accordion-collapse--selector, (
    ('font-size', $accordion-collapse--font-size),
    ('font-family', $accordion-collapse--font-family),
    ('font-weight', $accordion-collapse--font-weight),
    ('text-transform', $accordion-collapse--text-transform),
    ('letter-spacing', $accordion-collapse--letter-spacing),
    ('line-height', $accordion-collapse--line-height),
    ('text-align', $accordion-collapse--text-align),
    ('text-decoration', $accordion-collapse--text-decoration),
    ('margin', $accordion-collapse--margin),
    ('border-width', $accordion-collapse--border-width),
    ('border-style', $accordion-collapse--border-style),
    ('border-color', $accordion-collapse--border-color),
    ('border-radius', $accordion-collapse--border-radius),
    ('color', $accordion-collapse--color),
    ('box-shadow', $accordion-collapse--box-shadow),
    ('background', $accordion-collapse--background),
    ('background-color', $accordion-collapse--background-color),
    ('padding-top', $accordion-collapse--padding-y),
    ('padding-bottom', $accordion-collapse--padding-y),
    ('padding-left', $accordion-collapse--padding-x),
    ('padding-right', $accordion-collapse--padding-x),
  ));

}
